<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:largeHeap="true"

        tools:targetApi="n">
        <activity android:name=".activity.ScannerActivity" />
        <service android:name=".socket.SocketService"/>
    </application>


</manifest>